body ul, li, h1, h2, a{
    font-family: "Book Antiqua";
    margin: 0;
    padding: 0;
}

nav{
    background-color: white;
    max-height: 15px;
    padding: 20px 20px 40px;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li{
    text-align: center;
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    text-decoration: none;
    color: #4B4B4B;
}
nav li a:hover {
    border: 0;
    font-weight: bold;
    color: black;
    padding: 5px 20px;
    border-radius: 5px;
}

.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
}

.banner .location{
    max-width: 500px;
    max-height: 10px;
    border-radius: 10px;
    background-color: #F4F4F4;
    color: cadetblue;
    padding: 10px 25px 25px;
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.banner h2{
    font-size: 25px;
}

.banner a{
    color: #4B4B4B;
    text-decoration: none;
}

.location:hover{
    background-color: cadetblue;
}

footer{
    background: #F4F4F4;
    text-align: center;
    color: dimgrey;
}

.gallery-page{
    padding-top: 40px;
    background-color: #ece4e4;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}

.gallery{
    text-align: center;
    padding: 20px;
}

div.gallery:hover {
  border: 0 solid #777;
}

div.gallery img {
  width: 50%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.images:hover{
  margin: 5px;
  border: 1px solid black;
  width: 60%;
}

.container{
    display: flex;
}

.article-view{
    background-color: #ece4e4;
    margin-right: 20px;
}

.article-view p{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: justify;
}

.article-view img{
    margin-left: 100px;
}

.page-menu{
    margin-top: 50px;
    margin-right: 20px;
}
.page-menu li{
    margin: 3px;
    padding: 25px;
    font-size: 20px;
    background-color: #ece4e4;
    text-align: center;
}

.page-menu a{
    text-decoration: none;
    color: #4B4B4B;
}

.article-geography-view{
    background-color: #ece4e4;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 25px;
}

.article-geography-view p{
    margin: 40px;
    padding: 20px 20px 10px;
    font-size: 20px;
    color: #4B4B4B;
    letter-spacing: 1px;
    text-align: justify;
}

.article-geography-view a{
    text-decoration: none;
    color: #4B4B4B;
}

.article-geography-view h2{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

.article-geography-view div{
    padding-left: 100px;
    padding-top: 0;
    padding-bottom: 50px;
}

div.monument-gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.monument-gallery:hover {
  border: 5px solid #ece4e4;
}

div.monument-gallery img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
  color: #4B4B4B;
}

.monument-gallery-article{
    margin-left: 190px;
    margin-top: 30px;
}

